In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math

In [18]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/K-Means Algo/seeds_dataset.txt', sep=',', header=None, index_col=False)
df.index = [x for x in range(len(df.values))]
df.index.name = 'id'
df.head()

        0      1       2      3      4      5      6  7
id
0   15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1   14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2   14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3   13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4   16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1

In [51]:
# Create our training and test data
x_train = df[:80].copy()
x_train.reset_index(inplace=True)
x_train.drop(columns=['id', 7], inplace=True)

x_train = x_train.to_numpy()

x_test = df[80:].copy()
y_test = df[80:].copy()
x_test.reset_index(inplace=True)
y_test.reset_index(inplace=True)
x_test.drop(columns=['id', 7], inplace=True)
y_test.drop(columns=['id', 0, 1, 2, 3, 4, 5, 6], inplace=True)

In [54]:
def calc_centeroids(x, k, labels):
  centeroids = np.zeros((k, x.shape[1]))

  for i in range(k):
    centeroids[i] = x[labels == i].mean(axis=0)

  return centeroids

def calc_labels(x, k, centeroids):
  labels = np.zeros(x.shape[0])
  distances = np.zeros(k)

  for i in range(x.shape[0]):
    for j in range(k):
      distances[j] = np.sqrt(np.square(x[i] - centeroids[j]).sum())

    labels[i] = distances.argmin()

  return labels

In [57]:
MAX_ITERATIONS = 20

def kmeans(x, k):
  centeroids = x[np.random.choice(x.shape[0], size=k)] # Utilizing Forgy initialization
  prev_centeroids = None
  i = 0

  print("Initial centeroids:\n{}\n".format(centeroids))

  while i < MAX_ITERATIONS and not np.array_equal(prev_centeroids, centeroids):
    prev_centeroids = centeroids

    labels = calc_labels(x, k, centeroids)
    centeroids = calc_centeroids(x, k, labels)

    print("Iteration {} centeroids:\n{}\n".format(i, centeroids))
    i += 1

kmeans(x_train, 3)

Initial centeroids:
[[14.88   14.57    0.8811  5.554   3.333   1.018   4.956 ]
 [15.5    14.86    0.882   5.877   3.396   4.711   5.528 ]
 [20.71   17.23    0.8763  6.579   3.814   4.451   6.451 ]]

Iteration 0 centeroids:
[[14.21458333 14.23125     0.88021875  5.48208333  3.23122917  2.06550417
   5.0515625 ]
 [15.20241379 14.74034483  0.87764828  5.67065517  3.32955172  4.0162069
   5.33317241]
 [19.58666667 16.66        0.88646667  6.39266667  3.79433333  4.15033333
   6.29733333]]

Iteration 1 centeroids:
[[14.00020833 14.14020833  0.8783875   5.451       3.20083333  2.16731667
   5.01458333]
 [15.41518519 14.81296296  0.88194444  5.69207407  3.3722963   3.84011111
   5.35018519]
 [18.742      16.374       0.87732     6.2866      3.6694      4.0702
   6.1748    ]]

Iteration 2 centeroids:
[[13.98921569 14.13470588  0.87846471  5.45070588  3.19819608  2.26474902
   5.01470588]
 [15.54391304 14.87304348  0.88248261  5.71173913  3.39086957  3.81186957
   5.37452174]
 [18.495      16.26666667  0.87715     6.23516667  3.65683333  4.14833333
   6.11083333]]

Iteration 3 centeroids:
[[13.98921569 14.13470588  0.87846471  5.45070588  3.19819608  2.26474902
   5.01470588]
 [15.54391304 14.87304348  0.88248261  5.71173913  3.39086957  3.81186957
   5.37452174]
 [18.495      16.26666667  0.87715     6.23516667  3.65683333  4.14833333
   6.11083333]]